.getNoteList {
    margin: 20px;
}

.getNoteList p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}

.getNoteList ul {
    list-style: none;
    font-weight: 600;
}

.getNoteList ul > li {
    margin-bottom: 25px;
}